name: AutoRelease

on:
  push:
    branches: [ master ]

jobs:
  release:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - run: "dir"
      - name: Add msbuild to PATH
        uses: microsoft/setup-msbuild@v1.1
        with:
          msbuild-architecture: x64

      - name: Build app for release
        run: msbuild src\ScreenShare_WS2812b\ScreenShare_WS2812b.csproj -t:rebuild -verbosity:diag -property:Configuration=Release